rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access on all documents to everyone
    match /{document=**} {
      allow read, write;
    }
  }
}